<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Request to Reset Password</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

  <ion-list no-lines>

    <form [formGroup]="resetPasswordForm">

      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input [class.invalid]="(invalidUsername || !resetPasswordForm.controls.username.valid ) && (resetPasswordForm.controls.username.dirty || submitAttempt)"
          formControlName="username" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="resetPasswordForm.controls.username.pending">
        <p>Checking email address...</p>
      </ion-item>

      <ion-item *ngIf="invalidUsername && !resetPasswordForm.controls.username.pending && (resetPasswordForm.controls.username.dirty || submitAttempt)">
        <p>Sorry, that email address is already registered. Please login using this email address</p>
      </ion-item>

      <ion-item *ngIf="(invalidUsername ||!resetPasswordForm.controls.username.valid) && !resetPasswordForm.controls.username.pending && (resetPasswordForm.controls.username.dirty || submitAttempt)">
        <p>Invalid email address</p>
      </ion-item>

    </form>

  </ion-list>

  <button ion-button full color="primary" (click)="reset()">Reset</button>

</ion-content>